{{!-- LISTA --}}
<h1>{{title}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Ação</th>
      <th scope="col">Aluno</th>
      <th scope="col">Tutor</th>
      <th scope="col">Data Solicitação</th>
      <th scope="col">Data Conclusão</th>
    </tr>
  </thead>
  {{#each alunos}}
  <tbody>
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{id_acao}}</td>
      <td><a href="/alunos/{{id_acao}}">{{id_acao}}</a></td>
      <td>{{data_nascimento}}</td>
      <td>{{email}}</td>
      <td><a href="/alunos/edit/{{id_acao}}"><i class="bi bi-pencil-square"></i></a></td>
      <td><a href="#"><i class="bi bi-trash"></i></a></td>
    </tr>
    </tbody>
{{/each}}
</table>
<div>
<button type="button submit" name="submit" id="submit" class="btn btn-outline-primary btn-lg" ><a href="/alunos/new">Nova Solicitação <i class="bi bi-person-add"></i></button></a>
</div>