<h1>{{title}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Nome</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Endereço de Email</th>
    </tr>
  </thead>
  {{#each alunos}}
  <tbody>
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{matricula}}</td>
      <td><a href="/alunos/{{matricula}}">{{nome}}</a></td>
      <td>{{data_nascimento}}</td>
      <td>{{email}}</td>
      <td><a href="/alunos/edit/{{matricula}}"><i class="bi bi-pencil-square"></i></a></td>
      <td><a href="#"><i class="bi bi-trash"></i></a></td>
    </tr>
    </tbody>
{{/each}}
</table>
<div>
<button type="button submit" name="submit" id="submit" class="btn btn-outline-primary btn-lg" ><a href="/alunos/new">Novo Aluno <i class="bi bi-person-add"></i></button></a>
</div>
